# Data files
*.dat

# C++ binaries
comparison/cpp/build
n-dimensional/build

# Rust files
Cargo.lock
comparison/rust/target

# Python binaries / caches
__pycache__

# benchmarks
*.ben

# Auxilliary files
Pipfile
